:root {
  --temW-basic-texts: rgb(51, 51, 51);
  --temW-titles-texts: rgb(144, 221, 0);

  --basic-texts-color: var(--temW-basic-texts);
  --titles-texts-color: var(--temW-titles-texts);
}

header {
    background-color: #f0f0f0;
}

main {
    background-color: #f0f0f0;
}

body p {
    color: var(--basic-texts-color);
}

body h3 {
    color: var(--titles-texts-color)
}

.caixa-exp-nos {   
    width: 50%;

    background-image: url('img/caixa-bg-rainbow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.caixa-galeria {
    background-color: rgb(104, 255, 167);
    width: 60%;
}

.time-foto{
    border-radius: 50%;
}
